Data/*
*.pyc
*.ipynb
!Distinguishability of metrics.ipynb
*.csv
*.zip
*.xml
*.iml
*.jpg
*.png
NC_test.pdf
NC_test_2013.pdf
NC_test_2016.pdf
extract_census/*
raw_census/*
clean_data/*
!clean_data/[a-z][a-z]
clean_data/[a-z][a-z]/*
!clean_data/[a-z][a-z]/[a-z][a-z]_classifications.csv
